.display-row{
    display: flex;
    flex-direction: row;
}
.info-container {
    height: 330px;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.info-card-description {
    margin-top: 10px;
    opacity: 0.6;
}
.info-card-text {
    margin-left: 25px;
    margin-top: 5px;
}