.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-top: 3vh;
  }
  
  .pagination-page-item:not(:first-child) .pagination-page-link {
    margin-left: -1px;
  }
  
  .pagination-page-item.pagination-active .pagination-page-link {
    z-index: 3;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-color: var(--color-blue);
  }
  
  .pagination-page-item.disabled .pagination-page-link {
    color: var(--color-gray-1);
    pointer-events: none;
    background-color: var(--color-white);
    border-color: var(--color-gray);
  }
  
  .pagination-page-link {
    padding: 0.375rem 0.75rem;
    cursor: pointer;
  }
  
  .pagination-page-item:first-child .pagination-page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  
  .pagination-page-item:last-child .pagination-page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  .pagination-lg .pagination-page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }
  
  .pagination-lg .pagination-page-item:first-child .pagination-page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  
  .pagination-lg .pagination-page-item:last-child .pagination-page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  
  .pagination-sm .pagination-page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
  
  .pagination-sm .pagination-page-item:first-child .pagination-page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  
  .pagination-sm .pagination-page-item:last-child .pagination-page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
  
  .pagination-page-link {
    position: relative;
    display: block;
    color: var(--color-blue);
    text-decoration: none;
    background-color: var(--color-white);
    border: 1px solid var(--color-purple-faded);
  }
  
  .pagination-page-link:hover {
    z-index: 2;
    color: var(--color-purple-faded);
    background-color: var(--color-white);
    border-color: var(--color-purple-faded);
  }
  
  .pagination-page-link:focus {
    z-index: 3;
    color: var(--color-purple-faded);
    background-color: var(--color-white);
    outline: 0;
  }
  
  .pagination-page-item:not(:first-child) .pagination-page-link {
    margin-left: -1px;
  }
  
  .pagination-page-item.pagination-active .pagination-page-link {
    z-index: 3;
    color: var(--color-white);
    background-color: var(--color-blue);
    border-color: var(--color-blue);
  }
  
  .pagination-page-item.disabled .pagination-page-link {
    color: var(--color-gray-1);
    pointer-events: none;
    background-color: var(--color-white);
    border-color: var(--color-purple-faded);
  }
  